@use 'config' as *;

.intro {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 7fr 1fr;
    align-items: center;

    &__heading-container {
        display: flex;
        align-items: center;
    }

    &__heading {
        margin: 0 15px 0 0;
    }

    &__subheading {
        @include rem-font-size(22px);
        margin: 0;
    }

    &__button {
        display: block;
        width: 100%;

        &:last-of-type {
            margin-top: 5px;
        }
    }
}
