@use 'sass:color';
// --------------------------------- Colors ------------------------------------

$color--primary: #444;
$color--secondary: #fff;
$color--tertiary: #f9f9f9;

$color--white: #fff;
$color--black: #000;
$color--off-white: #fdfffe;
$color--black: $color--black;
$color--off-black: #0b0c0c;
$color--red: #d4351c;
$color--border: color.adjust($color--off-black, $alpha: -0.8);

$color--default: $color--off-black;

// NHS colours
$color--nhs-blue: #015eb8;
$color--border-black: #212b32;
$color--border-grey: #d8dde0;
$color--light-grey: #ced4da;
$color--blue-grey: #4c6272;
$color--link: #017aad;
$color--helptext: #768692;
$color--green: #29823b;
$color--red: #d5281b;
$color--email: #005eb8;
$color--yellow: #ffb81c;

// Button colours
$button-colours: (
    primary: (
        bg: $color--primary,
        color: $color--white,
    ),
    secondary: (
        bg: $color--secondary,
        color: $color--black,
    ),
    tertiary: (
        bg: $color--tertiary,
        color: $color--off-black,
    ),
);

// Box shadow colours
$color-box-shadow: color.adjust(#dd4600, $alpha: -0.5);

// --------------------------------- Fonts -------------------------------------

$font--default: 'Frutiger', sans-serif;

// Font weights
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;

// Font sizes
$large-font-sizes: (
    feature-one: 90px,
    feature-two: 76px,
    heading-one: 64px,
    heading-two: 36px,
    heading-three: 26px,
    heading-four: 24px,
    heading-five: 20px,
    body-feature: 18px,
    body: 19px,
    supporting: 14px,
);

$medium-font-sizes: (
    feature-one: 78px,
    feature-two: 68px,
    heading-one: 45px,
    heading-two: 30px,
    heading-three: 22px,
    heading-four: 20px,
    heading-five: 20px,
    body-feature: 16px,
    body: 19px,
    supporting: 14px,
);

$small-font-sizes: (
    feature-one: 44px,
    feature-two: 38px,
    heading-one: 36px,
    heading-two: 24px,
    heading-three: 22px,
    heading-four: 20px,
    heading-five: 18px,
    body-feature: 14px,
    body: 16px,
    supporting: 12px,
);

// --------------------------------- Sizing ------------------------------------

$breakpoints: (
    'small' '(min-width: 400px)',
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'extra-large' '(min-width: 1300px)'
);

// Layout
$site-width: 1015px;
$centred-width: 880px;
$form-width: 835px;

// Grid setup
$grid: 20px;

// Border radius
$br-default: 6px;

// --------------------------------- Misc --------------------------------------

$transition: 0.25s ease-out;
$z-index: (
    under: -1,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);
$hero-search-height: 120px;
$hero-search-height-mobile: 172px;

// --------------------------------- Accessibility -----------------------------

$focus-bg: #ffbf47;
$focus-color: $color--off-black;
$focus-width: 3px;
