@use 'config' as *;

.form {
    max-width: $form-width;
    margin-bottom: 100px;

    &__legend {
        @include rem-font-size(30px);
        font-weight: bold;
    }

    &__sub-legend {
        @include font-size(heading-five);
        font-weight: bold;
    }

    &__fieldset {
        padding: 0;
        border: 0;

        & + & {
            margin-top: 50px;
        }

        &--nested {
            & + & {
                margin-top: 30px;
            }
        }
    }

    &__inline-container {
        display: flex;
    }

    &__item {
        display: grid;
        grid-template-columns: 3fr 4fr;
        margin: 15px 0 5px;
        align-items: start;

        .view-mode & {
            border-bottom: 1px solid $color--border-grey;
            margin: 0;
            padding: 15px 0 10px;
        }

        a {
            color: $color--email;
            text-decoration: underline;

            &:hover {
                color: darken($color--email, 10%);
            }
        }
    }

    &__helptext {
        @include rem-font-size(12px);
        color: $color--helptext;
        margin-bottom: 10px;
    }

    &__label {
        @include rem-font-size(16px);
        font-weight: bold;
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        cursor: pointer;

        &--large {
            @include font-size(body-feature);
        }

        .view-mode & {
            pointer-events: none;
            cursor: text;
            margin-top: 0;
        }
    }

    &__input {
        @include rem-font-size(16px);
        padding: 10px 10px 6px;
        border: 2px solid $color--border-black;
        display: block;
        width: 100%;

        &--full-width {
            max-width: 100%;
        }

        &--two-thirds-width {
            max-width: 66.66%;
        }

        &--half-width {
            max-width: 50%;
        }

        &--number {
            width: 50px;
            margin-right: 10px;
            display: inline-block;
            text-align: center;
            padding: 10px 10px 6px 8px;

            .view-mode & {
                padding: 0;
                text-align: left;
                width: 25px;
                margin-right: 0;
            }
        }

        &--number-wide {
            width: 70px;
            display: inline-block;
        }

        .view-mode & {
            border-color: transparent;
            pointer-events: none;
            padding: 0;
        }
    }
}
