@use 'config' as *;

.custom-select {
    $root: &;
    position: relative;
    width: 100%;
    border: 2px solid $color--border-black;
    overflow: hidden;

    &--full {
        max-width: 100%;
    }

    &--two-thirds {
        max-width: 66.66%;
    }

    &--half {
        max-width: 50%;
    }

    &--one-third {
        max-width: 33.33%;
    }

    &--one-quarter {
        max-width: 25%;
    }

    .view-mode & {
        border-color: transparent;
        pointer-events: none;
        padding: 0;
    }

    // Dropdown icon
    &::after {
        content: '';
        position: absolute;
        width: 35px;
        height: 40px;
        right: 0;
        top: 0;
        background: url('../images/cssBackgrounds/select-arrow.svg') center
            no-repeat;
        pointer-events: none;

        .view-mode & {
            background: none;
        }
    }

    // Select
    &__item {
        @include rem-font-size(16px);
        background: $color--white;
        border: none;
        border-radius: 0;
        cursor: pointer;
        padding: 10px 10px 6px;
        width: 100%;
        color: $color--black;
        line-height: 24px;
        -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
        appearance: none;

        .view-mode & {
            padding: 0;
        }

        &::-ms-expand {
            display: none;
        }

        &:focus {
            outline: $focus-width solid $focus-bg;

            &:not(:active):not(:hover) {
                border-color: $focus-bg;
                background-color: $focus-bg;
                color: $focus-color;
            }
        }
    }
}
